

<nav>
    <div class="navbar">
        <a href="/">
            <img src="/images/logo.png" alt="Logo" class="logo">
        </a>
        <ul>
            <li>
                <a href="/">
                    <img src="/icons/home.svg" alt=" Inicio Icon">
                    Inicio
                </a>
            </li>
            <li>
                <a href="/api/pais/ver-todos-los-paises">
                    <img src="/icons/superhero.svg" alt="Superheroe Icon">
                    Países
                </a>
            </li>
            <li>
                <a href="/api/pais/crear">
                    <img src="/icons/agregar.svg" alt="Agregar Icon">
                    Agregar país
                </a>
            </li>
        </ul>
    </div>
</nav>